@charset "utf-8";
/*Start CSS Reset */
*{margin:0;padding:0}
html{color:#000;background:#fff}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul,li{list-style:none}
img{display:block;}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-size:12px;font-family:'Microsoft Yahei', Verdana, Geneva, sans-serif, ;*font-size:100%}
legend{color:#000}
/**body**/
body{color:#333;font-size:13px;font-family: 'Microsoft Yahei',Tahoma, Geneva, sans-serif;background-repeat: repeat-x;text-align:center}
/**clearfix**/
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{display: inline-block;} /* Hides from IE-mac \*/ * html .clearfix{height: 1%;} .clearfix{display: block;} /* End hide from IE-mac */
.clear{width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both;}
/**End clearfix***/
a{text-decoration:none; color:#484848;}
a:hover{color:#C30;}
/**End CSS Reset**/
/**Start CSS Base**/
.wrapper{width:100%; margin:0 auto;}
.wrapper .inner{width:100%; margin:0 auto;}
.nlink{line-height:24px;}
.nlink a{color:#1a1a1a;}
.nlink a:hover{color:#cf2410;}
.llink{line-height:28px;padding-left:22px;font-size: 14px;color: #FFFFFF;text-decoration: none;}
.llink a{color:#FFFFFF;}
.llink a:hover{color:#FFFFFF;text-decoration: underline;}
.wlink{line-height:28px;font-size: 12px;color: #FFFFFF;text-decoration: none;}
.wlink a{color:#FFFFFF;}
.wlink a:hover{color:#FFFFFF;text-decoration: underline;}
.more a{color:#b5b5b5;}
.more a:hover{color:#000;}
.entry{line-height:1.7; font-size:14px;}
.entry a{font-size:13px; color:#000; text-decoration:none;}
.entry a:hover{color:#C00;}
.entry .llink{line-height:28px; padding-left:22px; background:url(images/li.png) no-repeat 7px 11px; border-bottom:1px dashed #ccc;}
.entry .llink a{color:#454545; text-decoration:none;}
.entry .llink a:hover{color:#C33;}
.entry p{line-height:1.7; margin-bottom:7px; text-indent:2em;}
/**End CSS Base**/
.floatright{float:right}
.floatleft{float: left;}
/**header**/
#header {background:url("images/headbg.jpg") center top;}
#header .inner{height: 122px;position:relative;background:none;}
.head .head-left{float:left;display:inline;width: 467px;height: 115px;}
.head .head-left .sitelogo{margin: 0;padding:0;}
.head .sitelogo a{display: block;position: absolute;left: 30px;top: 20px;
   /* z-index:100 ;*/
}.langbox{height: 44px;
     margin-top: 10px;}
/*.langtext:after{content:"|"}*/
.site-lang ul li{color: #fff;}
li .langtext{color:#fff;margin:10px;}
/*searchbox*/
.searchbox{
    width: 122px;
    float: right;
    margin-right: 38px;
}
.search-box{
    width: 100%;
    padding: 0 0;
    position: relative;
    padding-left: 25px;
    display: inline-block;
    margin-top: 8px;
}
/**nav**/
#nav .inner{}
#nav{
    background: url("images/headbg.jpg") repeat center bottom;}
.wp_menu{    text-align: center;}
.menu-item{
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 12px;
    margin-top: 29px;
}
.menu-link{
    text-decoration: none;color:#fff;font-size: large;
    margin:32px;
}

/**content**/
.originPic{
    height: 100%;
    width: 100%;
}
#content .inner{margin-top: 10px;margin-bottom: 10px;}
/*|------main------*/ /**post-mod**/
.post{width:100%; margin-bottom:5px;}
.post .tt{width:100%; height:34px; background:url(images/line.png) repeat-x left bottom; margin-bottom:5px;}
.post .tt .tit{display:inline-block; height:100%; float:left; color: #000000; font-size:16px; font-weight:bold; font-family:"Microsoft YaHei";}
.post .tt .tit span{display:inline-block; height:34px; line-height:32px; background:url(images/line_cover.png) repeat-x left bottom;}
.post .tt .more{display:inline-block; height:32px; line-height:32px; float:right;}
.post .con{width:100%;}
/*focus*/
.focus{}
.focus-box{width: 1200px; height: 480px;margin:46px auto;background-position: center;position: relative;}
.focus-title{
    display: inline;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    padding:0 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    position: absolute;
    left: 0;
    z-index: 50;
}
.focus-title-bar{
    margin-top: -42px;
    right: 0;
    bottom: 0;
    height: 40px;
    margin-right: 0;
    margin-left: auto;
    background-color: #6e6f6f;
    opacity: 0.75;
}
#banner{text-align:center}


/**tab**/
.tabmenu{float:left;}
.tabmenu li{display:inline-block; height:34px; float:left;cursor:default;}
.tablist li,.tabmore span{display:none;}
/*|------list------*/
.listmenu{width:232px; float:left;}
.listmenu h4{width:100%;height:32px;line-height:30px;border-bottom:1px solid #ccc;color:#54891F;font-size:15px;font-weight:bold;text-indent:1em;background-color: #ececec;}
.listmenu .lists{width:232px;}
.lists .list a{display:block; color:#222; border-top:1px solid #f9f9f9;}
.lists .list a:hover{border-top-color:#999;}
.lists .list-1 a{padding:0 8px; line-height:30px; background-color:#F2F2F2; font-size:14px;}
.lists .list-2 a{padding:0 8px 0 20px; line-height:26px; background-color:#E4E4E4; font-size:13px;}
.lists .list-3 a{padding:0 8px 0 30px; line-height:22px; background-color:#E6E6E6; font-size:13px;}
.lists .list a:hover{background-color:#999;color:#fff; text-decoration:none; font-weight:bold;}
#s_c_id{background-color:#888; color:#fff;font-weight:bold; border-top-color:#888;}
.listcol{width:748px; float:right;}
.listcol .map{width:100%;height:32px;line-height:32px;border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #80B61A;}
.listcol .map .name{display:inline-block; height:32px; float:left; padding-left:10px; font-size:16px; font-weight:bold; color:#3A701C;}
.listcol .map .maplist{float:right;}
.listcol .map .maplist li{display:inline-block; float:left; height:22px; line-height:22px; margin-top:5px; color:#333;}
.listcol .map .maplist li a{color:#666;}
.listcol .map .maplist li a:hover{color:#000;}
.listcol .map .maplist li .posSplit{width:19px; margin:0 3px;background:url(images/arrow.gif) no-repeat center;}
.listbox{width:100%; min-height:300px; _height:300px; margin:0px auto;}
.listbox .entry img{max-width:700px; _width:expression(this.width>700?"700px":this.width+"px");}
#newslist{margin-bottom:5px;}
.listpages td,.listpages td a{font-size:13px; color:#666;}
.listpages td a{text-decoration:none; cursor:pointer;}
.listpages td a:hover{color:#121212;}
/*|------info-----*/
h1.atitle{width:960px;margin:0 auto;padding:6px 0;font-size:18px;font-weight:bold;color:#000;text-align:center;border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #7AB120;}
.art_tit_fu{color:#333; font-size:14px;}
.postmeta{width:960px; margin:0 auto; line-height:20px; color:#777; text-align:center; padding:5px 0;}
.postmeta span{display:inline-block; margin:0 10px; line-height:20px;}
.infobox{width:960px; min-height:400px; _height:400px; margin:0 auto;}
.infobox .entry img{max-width:900px; _width:expression(this.width>900?"900px":this.width+"px");}
#container-1{
    text-align: center;
}
.mod{
    width: 1200px;
    height: 480px;
    margin: 46px auto;

}
.main1{
    margin-top: -75px;}
.main1 .inner .ml .modl{float: left;width: 640px;}
.main1 .inner .ml .modl2{float: left;width: 300px;}
.main1 .inner .ml .modc{float: left;width: 300px;margin-bottom: 30px;
    margin-left: 30px;}
.main1 .inner .ml .modc2{float: left;width: 300px;margin-bottom: 30px;margin-left: 36px;}
.main1 .inner .ml .modr2{float: left;width: 300px;margin-bottom: 30px;
    margin-left: 30px;}
.n1{
    text-align: left;
}
.n2{
    text-align: left;
}
.n3{
    text-align: left;
}
.n4{
    text-align: left;
}
.news{
    display: inline-block;
}
.main1 .inner .mr{
    margin-top: -430px;
    float: right;
    width: 180px;
    padding-top: 20px;
}
.main1 .inner .mr .mcon{
    width: 180px;
}
.post-31{
    margin-top: 10px;
    background: #727171;
}
.post-31 .con{
    padding: 0;
}
.post .con {
    padding: 6px 0;
    margin: 0 auto;
}
.wz_link{
    display: inline-block;
    width: 100%;
}
.wz_link .iconcon{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    background: url(images/more2.png) no-repeat right center;
}
.wz_link .iconcon p{
    padding-left: 10px;
    font-size: 16px;
    line-height: 34px;
    color: #ffffff;
}
.post{
    margin-bottom: 10px;
}
#wp_nav_w31{
    background: #777;
    text-align: left;
}
.post-32 .news_list li.news{
    margin-bottom: 35px;
}
.post-32 .news_list li.news .news_wz{
    background: #31402a;
    padding: 0;
}
.post-32 .news_list li.news .news_wz .news_title{
    line-height: 36px;
    height: auto;
    padding-left: 10px;
    font-size: 16px;
    color: #ffffff;
}
.postlink a .tt{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 0px solid #cccccc;
    cursor: pointer;
    background: #727171;
    color: #ffffff;
    position: relative;
}
.postlink a.tt .jt{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f08200 url(images/more2.png) no-repeat center center;
    position: relative;
    ;
}
/**footer**/
#footer{background-color: #31402a;
    height: 180px;
margin-top: 100px}
#footer .inner{height:50px; border-top:3px solid #EFEFEF;}
.copyright{font-size:12px; line-height:25px; color:#acacac; text-align:center; font-family:Arial, Helvetica, sans-serif;}
.copyright a{color:#F2F2F2}
.biaoti{font-family: "黑体";font-size: 24px;font-weight: bold;color: #000000;}
.kuan{border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-top-color: #d2d2d2;border-right-color: #e1e1e1;border-bottom-color: #d2d2d2;padding: 10px;}
.kuan2{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #d2d2d2;padding: 10px;}
.kuan3{border: 1px solid #d2d2d2;}
.biaoti2{font-size: 14px;color: #FFFFFF;font-weight: bold;line-height: 30px;}
.biaoti3{font-size: 16px;color: #545454;background-image: url(images/d_25.jpg);background-repeat: no-repeat;background-position: left;line-height: 30px;font-weight: bold;margin-left: 15px;padding-left:15px;}
.biaoti3 span{margin-left: 15px;}
.chan_tit_td_11 a ,.chan_tit_td_12 a ,.chan_tit_td_13 a ,.chan_tit_td_14 a{font-size: 14px;font-weight: bold;color: #659704;line-height: 160%;}
.chan_tit_td_11 a:hover ,.chan_tit_td_12 a:hover ,.chan_tit_td_13 a:hover ,.chan_tit_td_14 a:hover{font-size: 14px;font-weight: bold;color: #659704;line-height: 160%;text-decoration: underline;}
.chan_con_td_11 a ,.chan_con_td_12 a ,.chan_con_td_13 a ,.chan_con_td_14 a{font-size: 12px;line-height: 160%;color: #6e6f6f;}
.chan_con_td_11 a:hover ,.chan_con_td_12 a:hover ,.chan_con_td_13 a:hover ,.chan_con_td_14 a:hover{font-size: 12px;color: #6e6f6f;text-decoration: underline;line-height: 160%;}
.cr{height: 10px;}
.clear{height: 17px;}
.mid{background-image: url(images/t_12.jpg);height: 157px;background-repeat: no-repeat;background-position: left;background-color: #FFFFFF;width: 1000px;}
.mid .inner{background-image: url(images/b_14.jpg);height: 157px;background-repeat: no-repeat;background-position: right;float: right;}
.brow{font-size: 18px;color: #FFFFFF;float: left;text-align: center;width: 65px;margin-left: 10px;}
.btn_more{font-size: 14px;font-weight: normal;}
.con{float: right;width: 870px;margin: 15px 20px 20px 10px;}
.mode{width: 1000px;}
.con a{line-height: 25px;}
.con1{width: 240px;}
.con1 a{line-height: 25px;color: #FFFFFF;}
/*|------list------*/
/*__listcolumn__**/
.listmenu{width:234px; float:left;}
.menu_head{background-color:#e74343; border-bottom:1px solid #e5e5e5;}
.menu_name{font-size:14px; color:#fff; font-weight:bold;}
.menu_name_text{display:inline-block; line-height:1.2; padding:5px;}
.menu_head{background-color: #60951F;}
.menu_list{}
.listcol{width:745px; float:right;}
.list_map{height:25px; line-height:25px;}
.list_map li{display:inline-block; float:left;}
.list_name{border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #568B1F;text-align:left;height:30px;line-height:30px;}
.list_name .cur_name{display:inline-block; height:26px; line-height:26px; font-size:16px; font-weight:bold; color:#558A1E;border-bottom:#000;}
.listbox{padding:10px 0;}
.listbox .readbox{overflow:hidden;}
/*__displayinfo__**/
.article{width:98%; margin:0 auto; padding:10px 0;}
.article_metas{}
.atitle{font-size:16px; font-weight:bold; color:#06C; line-height:1.3; padding:7px 0; border-bottom:2px solid #C30; text-align:center;}
.postmeta{padding:10px 0; text-align:center; color:#686868;}
.postmeta span{margin:0 5px;}
.postmeta .views img{margin-top:-4px;}/*|------info-----*/
h1.atitle{width:960px;margin:0 auto;line-height:20px;padding:6px 0;font-size:18px;font-weight:bold;color:#578D1E;text-align:center;border-bottom-width: 2px;border-bottom-style: solid;border-bottom-color: #639921;}
.postmeta{width:960px; margin:0 auto; line-height:20px; color:#777; text-align:center; padding:5px 0;}
.postmeta span{display:inline-block; margin:0 10px; line-height:20px;}
.infobox{width:960px; min-height:400px; _height:400px; margin:0 auto;}
.infobox .entry img{max-width:900px; _width:expression(this.width>900?"900px":this.width+"px");}

#wp_news_w20,#wp_news_w21,#wp_news_w22{padding-left:15px;}
.btn_more{font-size: 14px;font-weight: normal;margin-right:-25px;}
#wp_news_w10{margin-right:20px;}

#w1 a span{color:#fff}
#w1 ul li ul li a span{color:#000}
.pan101 img{height:214px;}
.pan10{padding-top:60px;padding-left:15px;}
.pan100 img{width:250px; height:80px;}
.wp_article_list .list_item{border-bottom:none;}
#wp_news_w10 .wp_article_list .list_item .Article_PublishDate{color:#fff;}
#wp_news_w10 .wp_article_list .list_item .Article_Index{ background:url(images/point.gif) center center no-repeat;}

li{
    list-style: none;
}
.post-11 .news_list li.news{
    float: left;
    width: 300px;
}

.tu_text .news_list li.news .news_time{
    line-height: 32px;
    font-size: 12px;
}
.tu_text .news_list li.news .news_title{
    line-height: 20px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}
.tu_text .news_list li.news .news_text{
    line-height: 22px;
    min-height: 66px;
    font-size: 12px;
}
.tu_text .news_list li.news.n1{
    margin-right: 38px;
}